/* Important CSS styles start */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}
/* Important CSS styles end */

/* Common CSS styles start */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.logo a{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}
 .wave-text{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}
.btn{
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(55deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}
.btn:hover{
    opacity: 0.9;
    color: #F7E93F;
    box-shadow: 20px 20px 0px rgba(7, 7, 7, 0.3);
}
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
i, .fa-brands, .fa-solid, .fa-regular{
  display: inline-block; 
}

i:hover {
  animation: rotateIcon 0.6s ease-in-out; 
  cursor: pointer;
  color: #F7E93F; 
}
svg {
  display: inline-block; 
}
svg:hover {
  animation: rotateIcon 0.6s ease-in-out; 
  cursor: pointer;
  color: #F7E93F; 
}
h1{
    font-size: 60px;
    margin: 20px 0;
}
p{
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
    color: #FFFFFF;
}
h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: #FFFFFF;
}
h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: #FFFFFF;
}
/* Common CSS styles end */

/* Navbar CSS styles start */
#navbar{
    background-color: #1A0B2E;
    padding: 15px 0;
    border-bottom: 1px solid #333;
}
#nav-menu{
    list-style: none;
    display: flex;
    gap: 30px;
}
li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}
li a:hover{
    color: #F7E93F;
}
.menu-toggle{
    display: none;
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
/* Navbar CSS styles end */

/* Hero-area CSS styles start */
#hero-area{
    background: url('../assets/hero-bg.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 100px 0;
    border-bottom: 1px solid #333;
}
.hero-img-container {
    position: relative;
    width: 480px; 
    height: 450px;
    display: inline-block;
}

.hero-circle {
    width: 84%;
    height: 100%;
    object-fit: contain;
}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 170px; 
    z-index: 2;
}

.new-badge {
    position: absolute;
    top: 15%;  
    right: 15%; 
    background-color: #00FF88; 
    color: #000000;           
    padding: 6px 14px;         
    border-radius: 20px;       
    font-weight: 700;          
    font-size: 14px;
    z-index: 3;                
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
} 
.hero-buttons{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.btn-spotify, .btn-subscribe{
    display: flex;
    align-items: center;
}
.transparent-btn{
    background: #191140;
    border: 2px solid #00FF88;
    color: #00FF88;
}
a span{
    margin-left: 5px;
}
/* Hero-area CSS styles end */

/* About-area CSS styles start */
#about-area{
    padding: 80px 0;
    background-color: #1a0b2e;
    border-bottom: 1px solid #333;
}
.about-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.rating-area{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px 0;
    border-top: 1px solid #333;
}
table{
    width: 70%;
    border-collapse: collapse;
    margin: 0 20px;
    text-align: center;
}
th{
    color: #00FF88;
    font-size: 48px;
    padding: 20px 0;
}
td{
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px 0;
}
/* About-area CSS styles end */

/* Why-area CSS styles start */
#why-area{
    padding: 80px 0;
    background-color: #230e3d;
    text-align: center;
}
.why-area-cards{
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 290px);
    gap: 20px;
    justify-content: center;
}
.why-area-card{
    background-color: #1a0b2e;
    padding: 30px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    text-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.why-area-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.why-area-card h3{
    font-size: 20px;
    margin-bottom: 1px;
}
.why-area-card p{
    font-size: 14px;
    margin-top: 5px;
}
.why-area-card img{
    margin-bottom: 15px;
}
.big-row-card{
    grid-row: span 2;
    grid-column: span 1;  
    justify-content: center;
}
.big-column-card{
    grid-column: span 2;
    grid-row: span 1;  
}
/* Why-area CSS styles end */
/* Episode-area CSS styles start */
#episode-area{
    padding: 80px 0;
    background-color: #1a0b2e;
    border-bottom: 1px solid #333;
}
.episode-content{
    margin: 0 auto;
    text-align: center;
}
.episode-boxs{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
.episode-box{
    background-color: #230e3d;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}
.episode-box:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.episode-box iframe{
    margin-bottom: 15px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
/* Episode-area CSS styles end */

/* Host-area CSS styles start */
#host-area{
    padding: 80px 0;
    text-align: center;
}
.host-content h2{
   font-size: 48px;
   font-weight: 700;
}
.host-info{
    max-width: 900px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #250d44;
    display: flex;
    justify-content: center;
    text-align: start;
    gap: 30px;
    padding: 20px;
}
.host-img{
    width: 100px;
    height: 100px;
    border-radius: 150px;
}
.host-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}
.host-link img{
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin: 4px;
    padding: 4px;
}
/* Host-area CSS styles end */
