/* Important CSS styles start */
html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    background-color: #f5f5f5;
    color: #333;
}
/* Important CSS styles end */

/* Common CSS styles start */
.container{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.logo a{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
}
 .wave-text{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}
.btn{
    border: none;
    display: inline-block;
    padding: 1rem 2rem;
    background: linear-gradient(55deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}
.btn:hover{
    opacity: 0.9;
    color: #F7E93F;
    box-shadow: 20px 20px 0px rgba(7, 7, 7, 0.3);
}
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
i, .fa-brands, .fa-solid, .fa-regular{
  display: inline-block; 
}

i:hover {
  animation: rotateIcon 0.6s ease-in-out; 
  cursor: pointer;
  color: #F7E93F; 
}
svg {
  display: inline-block; 
}
svg:hover {
  animation: rotateIcon 0.6s ease-in-out; 
  cursor: pointer;
  color: #F7E93F; 
}
h1{
    font-size: 6rem;
    margin: 2rem 0;
}
p{
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 2rem 0;
    color: #FFFFFF;
}
h2{
    font-size: 3.2rem;
    margin-bottom: 2rem;
    color: #FFFFFF;
}
h3{
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: #FFFFFF;
}
/* Common CSS styles end */

/* Navbar CSS styles start */
#navbar{
    background-color: #1A0B2E;
    padding: 1.5rem 0;
    border-bottom: 1px solid #333;
}
#nav-menu{
    list-style: none;
    display: flex;
    gap: 3rem;
}
li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.6rem;
    transition: color 0.3s ease;
}
li a:hover{
    color: #F7E93F;
}
.menu-toggle{
    display: none;
    font-size: 2.4rem;
    color: #FFFFFF;
    cursor: pointer;
}
/* Navbar CSS styles end */

/* Hero-area CSS styles start */
#hero-area{
    background: url('../assets/hero-bg.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10rem 0;
    border-bottom: 1px solid #333;
}
.hero-img-container {
    position: relative;
    width: 48rem; 
    height: 45rem;
    display: inline-block;
}

.hero-circle {
    width: 84%;
    height: 100%;
    object-fit: contain;
}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 17rem; 
    z-index: 2;
}

.new-badge {
    position: absolute;
    top: 15%;  
    right: 15%; 
    background-color: #00FF88; 
    color: #000000;           
    padding: 0.6rem 1.4rem;         
    border-radius: 2rem;       
    font-weight: 700;          
    font-size: 1.4rem;
    z-index: 3;                
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
} 
.hero-buttons{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.btn-spotify, .btn-subscribe{
    display: flex;
    align-items: center;
}
.transparent-btn{
    background: #191140;
    border: 2px solid #00FF88;
    color: #00FF88;
}
a span{
    margin-left: 0.5rem;
}
/* Hero-area CSS styles end */

/* About-area CSS styles start */
#about-area{
    padding: 8rem 0;
    background-color: #1a0b2e;
    border-bottom: 1px solid #333;
}
.about-content{
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
}
.rating-area{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 5rem 0;
    border-top: 1px solid #333;
}
table{
    width: 70%;
    border-collapse: collapse;
    margin: 0 2rem;
    text-align: center;
}
th{
    color: #00FF88;
    font-size: 4.8rem;
    padding: 2rem 0;
}
td{
    color: #FFFFFF;
    font-size: 1.6rem;
    padding: 1.5rem 0;
}
/* About-area CSS styles end */

/* Why-area CSS styles start */
#why-area{
    padding: 8rem 0;
    background-color: #230e3d;
    text-align: center;
}
.why-area-cards{
    margin: 0 auto;
    padding: 2rem 0;
    display: grid;
    grid-template-rows: repeat(3, 20rem);
    grid-template-columns: repeat(3, 29rem);
    gap: 2rem;
    justify-content: center;
}
.why-area-card{
    background-color: #1a0b2e;
    padding: 3rem 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    text-align: start;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.why-area-card:hover{
    transform: translateY(-1rem);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.3);
}
.why-area-card h3{
    font-size: 2rem;
    margin-bottom: 0.1rem;
}
.why-area-card p{
    font-size: 1.4rem;
    margin-top: 0.5rem;
}
.why-area-card img{
    margin-bottom: 1.5rem;
}
.big-row-card{
    grid-row: span 2;
    grid-column: span 1;  
    justify-content: center;
}
.big-column-card{
    grid-column: span 2;
    grid-row: span 1;  
}
/* Why-area CSS styles end */
/* Episode-area CSS styles start */
#episode-area{
    padding: 8rem 0;
    background-color: #1a0b2e;
    border-bottom: 1px solid #333;
}
.episode-content{
    margin: 0 auto;
    text-align: center;
}
.episode-boxs{
    display: flex;
    gap: 4rem;
    margin-top: 3rem;
}
.episode-box{
    background-color: #230e3d;
    padding: 0;
    border-radius: 1.5rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}
.episode-box:hover{
    transform: translateY(-1rem);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.3);
}
.episode-box iframe{
    margin-bottom: 1.5rem;
    width: 100%;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}
/* Episode-area CSS styles end */

/* Host-area CSS styles start */
#host-area{
    padding: 8rem 0;
    text-align: center;
}
.host-content h2{
   font-size: 4.8rem;
   font-weight: 700;
}
.host-info{
    max-width: 90rem;
    margin: 0 auto;
    border-radius: 3rem;
    background-color: #250d44;
    display: flex;
    justify-content: center;
    text-align: start;
    gap: 3rem;
    padding: 2rem;
}
.host-img{
    width: 10rem;
    height: 10rem;
    border-radius: 15rem;
}
.host-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.host-link img{
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin: 0.4rem;
    padding: 0.4rem;
}
/* Host-area CSS styles end */
/* Footer-area CSS styles start */
#footer-area{
    background-image:url('../assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 0;
    text-align: center;
    border-top: 1px solid #333;
    color: #FFFFFF;
}
.logo a{
    font-size: 4.8rem;
}
.footer-content, .footer-logo{
    margin: 2rem 2rem;
}
.footer-content img{
    margin: 0 1.5rem;
    vertical-align: middle;
}
/* Footer-area CSS styles end */
